#drawer{
	height: 100vh;
	z-index: 999;
	visibility: hidden;
	transform: translateY(.0rem)
}

#drawer-modal{
	height: 100vh;
	z-index: 998;
	visibility: hidden;
	background-color: rgba(248, 249, 250, .75);
	width:100%;
	position: absolute;
}

.navbar {

	border-bottom: 1px solid #ccc;
}