#drawer{
	height: 100vh;
	z-index: 999;
	visibility: hidden;
	transform: translateY(.0rem);
	left:-100px;
}

#drawer-modal{
	height: 100vh;
	z-index: 998;
	visibility: hidden;
	background-color: rgba(248, 249, 250, .75);
	width:100%;
	position: absolute;
}

.navbar {
	/*margin-bottom: 20px;*/
	border-bottom: 1px solid #5755d9;
/*	-webkit-box-shadow: 0px 3px 13px 0px rgba(0,0,0,0.42);
	-moz-box-shadow: 0px 3px 13px 0px rgba(0,0,0,0.42);
	box-shadow: 0px 3px 13px 0px rgba(0,0,0,0.42);*/
}

