.venta{
	max-width: 100%;
	margin: 20px auto;
	padding: 8px; 
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #fff;
}

.cabecera-venta table{
	color:#5755d9;
	text-align: left;
	margin-bottom: 20px;
	margin-left:10px;
	line-height: 36px;
	/*background-color: #5755d915;*/
}

.acciones table{
	width:100%;
}

.acciones table tbody tr td {
		text-align: center;
}

.acciones table tbody tr td button{
	font-size: 20px;
	width:36px;
}

.table{
	text-align: left;
	border: 1px solid #5755d9;
	border-radius: 3px;
	display: none;
	width: 100%;
	background-color: #fff;
	line-height: 18px;
	padding-top:10px;
}

.table tr{
	border-bottom: 1px dashed #eee;
}

.table td, .table th{
	border:0;
	padding:3px 10px;
}


.finalizar_venta{
	color: green !important;
}

#form_aceptar_finalizar_venta{
	display: inline;
}

.fa-eye-slash{
	display: none;
}