.venta{
	max-width: 100%;
	margin: 20px auto;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #fff;
}

.cabecera-venta{
	display: inline-block;
}

.cabecera-venta{
	color:#5755d9;
	text-align: left;
	margin-left:10px;
	line-height: 27px;
	
}

.acciones{
	display: inline-block;
	width: 60px;
	vertical-align: top;
	position: relative;
	float: right;
	border-left: 1px dashed #ccc;

}

.acciones div{
	height: 27px;
	text-align: center;
	vertical-align: middle;
	
}
.acciones div:last-child{
	border-bottom: none;
}

.tabla-productos{
	text-align: left;
	border-top: 1px solid #5755d9;
	border-radius: 3px;
	display: none;
	width: 100%;
	background-color: #fff;
	line-height: 18px;
	padding-top:10px;

}

.tabla-productos tr{
	border-bottom: 1px dashed #eee;
}

.tabla-productos td, .tabla-productos th{
	border:0;
	padding:3px 10px;
}


.finalizar_venta{
	color: green !important;
}

#form_aceptar_finalizar_venta{
	display: inline;
}

.fa-eye-slash{
	display: none;
}